<div class="animated animatedFadeInUp fadeInUp" >
  <p class="primera" >Fuull</p>
  <p class="segundo" >Farandula</p>
  <p class="parr" >El Primer programa de Farándula digital del país. </p>
   
  <img class="imgc logo" src="../../../assets/imagenes/economia.jpg">
  <br>
  <ion-row>
    <ion-col size="6" >
        <div class="divtext" >
            <p>
              Fuull Farándula
             </p>
             <p class="pizq text-gris" >
              ¡EN VIVO! Lunes a Viernes 12h30 Canal 15 y 709 HD TVCable
             </p>
        </div>
    
    </ion-col>
    <ion-col size="6" >
      <img style="width: 50%;" class="logo" src="../../../assets/imagenes/imagen-fuull-farandula-e1597201400424.png">
    </ion-col>
  </ion-row>
  <div class="logo" style="width:94%" >
    <ion-button href="https://fuull.ec/" target="_blank" id="elred" color="#E81E25 !important" expand="block">Fuull Farándula </ion-button>
   </div>
   <br>
   <div style="border-top-style: solid;
   border-top-color: #E81E25;" >
     <ion-row class="utnoticias" > 
      Ultimas noticias
     </ion-row>
   </div>
</div>
