<div class="animated animatedFadeInUp fadeInUp" >
  <p class="primera" >Deporvito</p>

  <p class="parr" >Todos los deportes con la inmediatez que necesitas para mantenerte informado. </p>
   
  <img class="imgc logo" src="../../../assets/imagenes/Portada-Deporvito.jpg">
  <br>
  <ion-row>
    <ion-col size="6" >
        <div class="divtext" >
            <p>
                Deporvito
             </p>
             <p class="pizq text-gris" >
              Programa en vivo de lunes a viernes a las 17:00 en www.vitotvo.com/en-vivo
             </p>
        </div>
    
    </ion-col>
    <ion-col size="6" >
      <img  class="logo" src="../../../assets/imagenes/depor.svg">
    </ion-col>
  </ion-row>
  <div class="logo" style="width:94%" >
    <ion-button href="https://www.deporvito.com/" target="_blank" id="elred" color="#E81E25 !important" expand="block">Visita Deporvito</ion-button>
   </div>
   <br>
   <div style="border-top-style: solid;
   border-top-color: #E81E25;" >
     <ion-row class="utnoticias" > 
      Ultimas noticias
     </ion-row>
   </div>
</div>
