<!-- Empieza el Header -->
<app-header></app-header>
<!-- Termina el Header -->
<ion-content>
  <div class="animatedright fadeInRight" >
    <div  >
      <img  class="logo" src="../../../assets/imagenes/CanalDigital.svg">
  </div>
  <p class="parra" >
      VITOtvo es el servicio digital de televisión por Internet de contenidos de OMUNetwork. Ofrece una amplia gama de programas, 
      temas y servicios en línea para audiencias en todo Ecuador.
  </p>
  
  <img class="imgc logo" src="../../../assets/imagenes/Course 1.svg">
  <br>
  <ion-row>
      <ion-col size="6" >
          <div class="divtext" >
              <p>
                  Confianza informativa
               </p>
               <p class="pizq text-gris" >
                  Nuestra producción de contenidos se basa en en la veracidad y autenticidad de las fuentes
                  de información, nos apoyamos en hechos y no en supuestos.
               </p>
          </div>
      
      </ion-col>
      <ion-col size="6" >
        <img src="../../../assets/imagenes/pc.svg">
      </ion-col>
  </ion-row>
    <div class="logo" style="width:94%" >
      <ion-button id="elred" color="#E81E25 !important" expand="block">Ver nuestra politica </ion-button>
     </div>
  </div>

   <br>
   <br>
   <div class="animatedright fadeInRight" >
    <img  class="logo" src="../../../assets/imagenes/sun.svg">  
    <p style="color: #E81E25; font-weight: 600; text-align: center;" >
     Publicidad para millones
    </p>
    <p style="font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;" class="text-gris text-centrado" >
     Con una audiencia que genera más de 5 millones de visitas a nuestros sitios web de contenidos
     Generamos publicidad de impacto al mercado que buscan llegar las marcas de Ecuador
    </p>
 
    <div class="logo" style="width:94%" >
    
         <ion-button href="mailto:marketing@omunetwork.com" target="_blank"  id="elred" color="#E81E25 !important" expand="block">marketing@omunetwork.com  <ion-icon style="padding-left: 4px;" name="mail-outline"></ion-icon> </ion-button>
    
    </div>
    <br>
    <img style="width: 93%;" class="logo" src="../../../assets/imagenes/cuadroazul.svg">
    <ion-row>
        <ion-col size="4" >       
             <img src="../../../assets/imagenes/horizonte.svg">
        </ion-col>
        <ion-col size="4" >
             <img src="../../../assets/imagenes/azul.svg">
        </ion-col>
        <ion-col size="4" >
           <img src="../../../assets/imagenes/depor.svg">
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col size="4" >
          <img src="../../../assets/imagenes/fuuul.svg">
     </ion-col>
     <ion-col size="4" >
          <img src="../../../assets/imagenes/hincha.svg">
     </ion-col>
     <ion-col size="4" >
        <img src="../../../assets/imagenes/horizonte.svg">
   </ion-col>
    </ion-row>
    <ion-row>
     <ion-col size="4" >
          <img src="../../../assets/imagenes/recta.svg">
     </ion-col>
     <ion-col size="4" >
          <img src="../../../assets/imagenes/uh.svg">
     </ion-col>
     <ion-col size="4" >
        <img src="../../../assets/imagenes/ue.svg">
   </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/+verde.png">
      </ion-col>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/logo Deprt. Inst.png">
      </ion-col>
      <ion-col size="4" >
         <img src="../../../assets/imagenes/01.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/LOGO PNG FINALO.png">
      </ion-col>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/show del karting logo.png">
      </ion-col>
      <ion-col size="4" >
         <img src="../../../assets/imagenes/recta final logo.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/LG.png">
      </ion-col>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/LOGO TU VOZ FNL.png">
      </ion-col>
      <ion-col size="4" >
         <img src="../../../assets/imagenes/LOGO (1).png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/DOLCE VITO LG.png">
      </ion-col>
      <ion-col size="4" >
           <img src="../../../assets/imagenes/LOG.png">
      </ion-col>
      <ion-col size="4" >
         <img src="../../../assets/imagenes/fuull ni.png">
      </ion-col>
    </ion-row>

   </div>

   
<!-- Empieza el Footer -->
<app-footer></app-footer>
<!-- Termina el Footer -->

</ion-content>
