<!-- Empieza el Header -->
<app-header></app-header>
<!-- Termina el Header -->

<ion-content>
  <div class = "animated fadeIn"  >
    <img style="width: 35%;"  class="logo" src="../../../assets/imagenes/logovito.svg">
    <h1 class="talento" > Talento de Pantalla</h1>
</div>
<br>

<ion-card class="animated animatedFadeInUp fadeInUp" (click)="detalle('Viviana')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/viviana.jpeg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Viviana Orejuela
      </p>
      <p class="programa" >
        Última Hora
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
      <a href="https://www.instagram.com/vivianaorejuela/" target="_blank" >

        <ion-icon  class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
    
    </div>
      
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="animated animatedFadeInUp fadeInUp" (click)="detalle('Grace')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/grace.jpeg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Grace Castro
      </p>
      <p class="programa" >
        Fuull Farandula
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
      <a  href="https://www.instagram.com/gracecastroruiz/?utm_medium=copy_link" target="_blank" > 

        <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
     </div>
      
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="animated animatedFadeInUp fadeInUp"  (click)="detalle('Josseline')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/josseline.jpeg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Josseline Serrano
      </p>
      <p class="programa" >
        Última Hora
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
       <a  href="https://www.instagram.com/josselineserrano_/" target="_blank" > 
        <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
      <a href="https://twitter.com/joossypao" target="_blank"  >

        <ion-icon class="icono" size="large" name="logo-twitter"></ion-icon>
      </a>
     </div>
      
    </ion-col>
  </ion-row>
</ion-card>
<ion-card class="animated animatedFadeInUp fadeInUp" (click)="detalle('Domenica')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/domenica.jpeg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Domenica Loffredo
      </p>
      <p class="programa" >
        Fashion Planet
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
      <a  href="https://www.instagram.com/domenicanuques/" target="_blank" > 
        <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
     </div>
      
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="animated animatedFadeInUp fadeInUp" (click)="detalle('Nayla')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/nayla.jpg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Nayla Pesantes
      </p>
      <p class="programa" >
        Última Hora
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
      <a  href="https://instagram.com/naylapesantes?utm_medium=copy_link" target="_blank" > 
        <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
     </div>
      
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="animated animatedFadeInUp fadeInUp" (click)="detalle('Nicole')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/nicole.jpg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Nicole Pinilla
      </p>
      <p class="programa" >
        VitoTvo
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
      <a  href="https://instagram.com/nicolepinilla_?utm_medium=copy_link" target="_blank" > 
        <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
     </div>
      
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="animated animatedFadeInUp fadeInUp" (click)="detalle('Ana')" >
  <ion-row>
    <ion-col size="4" >
       <img class="imagen" src="../../../assets/imagenes/anaa.jpeg" >
    </ion-col>
    <ion-col size="5" >
      <p class="nombre" >
        Ana Melendres
      </p>
      <p class="programa" >
        Hincha Amarillo
      </p>
      <p style="color: black;" >
        Ver más
      </p>
    </ion-col>
    <ion-col size="3">
     <div>
      <a  href="https://www.instagram.com/anamelendres/" target="_blank" > 
        <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
      </a>
     </div>
      
    </ion-col>
  </ion-row>
</ion-card>

</ion-content>
