.imagen{
    border-radius: 52px;
    border: 4px solid;
    border-color: #E81E25;
}

.nombre{
    color: black;
    font-weight: 600;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}
.programa{
    color: #E81E25;
    font-weight: 700;
    padding-top: 0% !important;
    margin-top: 0% !important;
    border-bottom-style: solid;
    border-bottom-color: #E81E25;
    margin-right: 5%;
}

.icono{
    color: #E81E25;
    margin-top: -2%;
}

.descripcion{
    color:black;
    margin-left: 5%;
    margin-right: 5%;
}

.imgprg{
    width: 80%;

}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.animatedleft{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(-200px);
        transform:translateX(-200px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInLeft{
    0%{
        opacity:0;
        -webkit-transform:translateX(-200px);
        -ms-transform:translateX(-200px);
        transform:translateX(-200px)}
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
.fadeInLeft{
    -webkit-animation-name:fadeInLeft;
    animation-name:fadeInLeft
}