<!-- Empieza el Header -->
<app-header></app-header>
<!-- Termina el Header -->


<ion-content>

  <ion-card class="animatedleft fadeInLeft"  *ngIf="presentador=='Viviana'" >
    <ion-row>
      <ion-col size="4">
       <img class="imagen" src="../../../assets/imagenes/viviana.jpeg"  >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Viviana Orejuela
        </p>
        <p class="programa" >
          Última Hora
        </p>
        <div>
          <a href="https://www.instagram.com/vivianaorejuela/" target="_blank" >

            <ion-icon  class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      Presentadora de programas como: Ultima hora entretenimiento, Fashion Planet, Tendencias. 
Manejo de redes sociales en las cuentas de Vitotvo, DeporVito. 
Me gustan los animales, leer, pasar tiempo en familia y amigos. 

    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/imagen-ultima-hora.png">
    <br>
  </ion-card>

  <ion-card class="animatedleft fadeInLeft" *ngIf="presentador=='Grace'" >
    <ion-row>
      <ion-col size="4">
        <img class="imagen" src="../../../assets/imagenes/grace.jpeg" >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Grace Castro
        </p>
        <p class="programa" >
          Fuull Farandula
        </p>
        <div>
          <a  href="https://www.instagram.com/gracecastroruiz/?utm_medium=copy_link" target="_blank" > 

            <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      Presentadora, reportera de farándula, me gusta mucho bailar y cantar. También pasar tiempo con mi hija y familia. 

    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/fuuul.svg">
    <br>
  </ion-card>

  <ion-card class="animatedleft fadeInLeft" *ngIf="presentador=='Josseline'" >
    <ion-row>
      <ion-col size="4">
        <img class="imagen"  src="../../../assets/imagenes/josseline.jpeg" >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Josseline Serrano
        </p>
        <p class="programa" >
          Última Hora
        </p>
        <div>
          <a  href="https://www.instagram.com/josselineserrano_/" target="_blank" > 
            <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
          <a href="https://twitter.com/joossypao" target="_blank"  >
    
            <ion-icon class="icono" size="large" name="logo-twitter"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      TEC. PRODUCCIÓN DE TV Y AUDIOVISUAL 
ME ENCANTA PASAR EN FAMILIA EN MIS TIEMPOS LIBRES.
ME GUSTA CANTAR BAILAR

VITO TVO: PRESENTADORA DE AZUL ELÉCTRICO- COMMUNITY MANAGER DE LA CUENTA DE VITO TVO Y AZUL ELÉCTRICO- LOCUTARA DE LAS PROMOS DE VITO TVO 
PRESENTADORA DEL SEGMENTO DE 100% TECNOLOGÍA DEL NOTICIERO ULTIMA HORA EC
    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/imagen-ultima-hora.png">
    <br>
  </ion-card>

  <ion-card class="animatedleft fadeInLeft" *ngIf="presentador=='Domenica'" >
    <ion-row>
      <ion-col size="4">
        <img class="imagen"  src="../../../assets/imagenes/domenica.jpeg" >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Domenica Loffredo
        </p>
        <p class="programa" >
          Fashion Planet
        </p>
        <div>
          <a  href="https://www.instagram.com/domenicanuques/" target="_blank" > 
            <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      Modelar siempre ha sido mi pasión desde muy pequeña, al crecer fui descubriendo que disfrutaba mucho estar ante una cámara y salía un talento innato en mi, que VITOTVO supo reconocer y darme la oportunidad de desenvolverme en mi otra pasión; la comunicación. 

Disfruto mucho hacer ejercicios funcionales en mi tiempo libre para mantenerme en forma, fui madre a una temprana edad; eso me ayudó a crecer y madurar y tener una perspectiva diferente de la vida. Estudio comunicación social y soy experta en redes sociales. La moda es un tema que me encanta y disfruto mucho brindar información diariamente a todos los televidentes de Fashion Planet

Un saludo,

Domenica 
    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/imagen-ultima-hora.png">
    <br>
  </ion-card>

  <ion-card class="animatedleft fadeInLeft" *ngIf="presentador=='Nayla'" >
    <ion-row>
      <ion-col size="4">
        <img class="imagen"  src="../../../assets/imagenes/nayla.jpg" >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Nayla Pesantes
        </p>
        <p class="programa" >
          Última Hora
        </p>
        <div>
          <a  href="https://instagram.com/naylapesantes?utm_medium=copy_link" target="_blank" > 
            <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      Modelo profesional, reina de belleza y asesora de imagen.
Actualmente estudiante de administración de empresas .
Apasionada a los deportes.
Se está preparando para representar a su provincia, en el concurso de belleza "Miss Ecuador" y "Miss World".

Presentadora del programa de noticias Ultima Hora Ecuador: segmento de Economía y Negocios, de lunes a viernes de 17:00 a 18:00


Programa variedades y espectáculo internacional "TENDENCIAS" los jueves a las 20h00 en Vitotvo por TvCable.
    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/imagen-ultima-hora.png">
    <br>
  </ion-card>

  <ion-card class="animatedleft fadeInLeft" *ngIf="presentador=='Nicole'" >
    <ion-row>
      <ion-col size="4">
        <img class="imagen"  src="../../../assets/imagenes/nicole.jpg" >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Nicole Pinilla
        </p>
        <p class="programa" >
         VitoTvo
        </p>
        <div>
          <a  href="https://instagram.com/nicolepinilla_?utm_medium=copy_link" target="_blank" > 
            <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      Hola, soy Nicole Pinilla, tengo 21 años. Actualmente estudio Comunicación escénica , amo el arte en todas sus formas, soy 
      presentadora de Vitotvo y uno de mis mayores sueños es ser actriz y host a nivel internacional. Me encanta el yoga, correr, 
      leer, la moda y bailar. 
    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/depor.svg">
    <br>
  </ion-card>

  <ion-card class="animatedleft fadeInLeft" *ngIf="presentador=='Ana'" >
    <ion-row>
      <ion-col size="4">
        <img class="imagen"  src="../../../assets/imagenes/anaa.jpeg" >
      </ion-col>
      <ion-col size="8" >
        <p class="nombre" >
          Ana Melendres
        </p>
        <p class="programa" >
         Hincha Amarillo
        </p>
        <div>
          <a   href="https://www.instagram.com/anamelendres/" target="_blank" > 
            <ion-icon class="icono" size="large" name="logo-instagram"></ion-icon>
          </a>
         </div>
      </ion-col>
    </ion-row>
    <p class="descripcion" >
      Ana Gabriela Melendres, 20 años de edad estudiante de producción y comunicación con mención en información y noticias. 

Productora de Fuull Farándula, y presentadora de Hincha Amarillo.

Me considero una mujer carismática, extrovertida y segura al momento de tomar decisiones. Me encanta el arte, la cultura, y los deportes.  
    </p>
    <img style="width:35% !important"  class="logo imgprg" src="../../../assets/imagenes/hincha.svg">
    <br>
  </ion-card>



 
</ion-content>
