<div class="animated animatedFadeInUp fadeInUp" >
  <img class="logo" src="../../../assets/imagenes/HinchaAmarillo.svg">
<p class="parr" >Análisis, entrevistas, especiales y cobertura de 
  BARCELONA SPORTING CLUB</p>
<img class="imgc logo" src="../../../assets/imagenes/hinchaima.svg">
<br>
<ion-row>
  <ion-col size="6" >
      <div class="divtext" >
          <p>
              Hincha Amarillo
           </p>
           <p class="pizq text-gris" >
            Un canal digital deportivo dedicado a 
            uno de los club deportivos más 
            reconocidos en Ecuador, Barcelona.
           </p>
      </div>
  
  </ion-col>
  <ion-col size="6" >
    <img src="../../../assets/imagenes/imagen-hincha-amarillo.svg">
  </ion-col>
</ion-row>
<div class="logo" style="width:94%" >
  <ion-button href="https://hinchaamarillo.com/" target="_blank" id="elred" color="#E81E25 !important" expand="block">Visita Hincha Amarillo </ion-button>
 </div>
 <br>
 <div style="border-top-style: solid;
 border-top-color: #E81E25;" >
   <ion-row class="utnoticias" > 
    Ultimas noticias
   </ion-row>
 </div>
</div>
